.container :global(.infinite-scroll-component) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container :global(.infinite-scroll-component) > div {
  margin: 5px;
  min-width: 300px;
  min-height: 150px;
}

.loadingContainer {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}