.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.heading {
  flex: 2;
}

.heading a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.headerFormContainer {
  flex: 1;
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    height: 60px;
    flex-direction: row;
    align-items: center;
  }
  .headerFormContainer {
    flex: 0 1 350px;
  }
}