:root {
  --primary-color: #36c;
  --primary-grey: #a2a9b1;
  --radius: 4px;
  --error-color: #8e0000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  padding: 0 10px;
  box-sizing: border-box;
  flex-direction: column;
  font-size: 14px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

body.noScroll {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

input[type=text] {
  border: 2px solid var(--primary-grey);
  outline-width: 0;
  border-radius: var(--radius);
  padding: 0 .5em;
  min-width: 100px;
}

input[type=text]:focus {
  border: 3px solid var(--primary-color);
}

button {
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  outline-width: 0;
  border-radius: var(--radius);
  cursor: pointer;
  padding: 0 1em;
}

button svg {
  width: 1.2em;
  display: flex;
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.8);
}

.iconButton {
  color: var(--primary-color);
  cursor: pointer;
  display: inline-block;
}

.iconButton:hover {
  filter: brightness(1.1);
}

.iconButton:active {
  filter: brightness(0.8);
}

@media (min-width: 1200px) {
  body {
    font-size: 16px;
    padding: 0 20px;
  }
}