.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #000e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  max-width: 80vw;
  max-height: 80vh;
  z-index: 1;
}

.loadingState {
  position: absolute;
  z-index: 0;
}

.actionPanel {
  top: 0;
  right: 0;  
  position: absolute;
  margin: 10px;
}

.actionPanel a {
  color: var(--primary-color);
  cursor: pointer;
  display: inline-block;
}

.actionPanel a:hover {
  filter: brightness(1.1);
}

.actionPanel a:active {
  filter: brightness(0.8);
}

.actionPanel svg {
  width: 50px;
}