.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.content .heading {
  color: var(--error-color);
}

.content svg {
  color: var(--error-color);
  width: 200px;
}